In [3]:
from tabula import read_pdf

In [12]:
# data=read_pdf('data.pdf',pages=all)
data=read_pdf('data.pdf',pages=[92,96])
data1=read_pdf('data.pdf',pages=92)

In [10]:
len(data)

2

In [25]:
import pandas as pd
import tabula
# python -m pip install tabula-py --user

In [20]:
pd.DataFrame(pd.DataFrame(data1)[0][0]).head()

,Unnamed: 0,Unnamed: 1,Real GDP,Consumer Prices1,Current Account Balance2,Unnamed: 2,Unemployment3
0,NaN,NaN,Projections,Projections,Projections,NaN,Projections
1,NaN,2012,2013 2014,2012 2013 2014,2012 2013 2014,2012,2013 2014
2,Middle East and North Africa,4.6,2.1 3.8,10.8 12.3 10.3,13.2 10.3 9.3,. . .,. . . . . .
3,Oil Exporters4,5.4,1.9 4.0,11.4 13.8 10.8,17.4 13.9 12.4,. . .,. . . . . .
4,Iran5,–1.9,–1.5 1.3,30.5 42.3 29.0,5.0 3.1 0.3,12.2,13.2 14.5

In [24]:
tabula.convert_into('data.pdf','data.csv',output_format='csv',pages=19)

In [1]:
import glob

In [3]:
from natsort import natsorted #python -m pip install pyPDF2 natsort --user

In [6]:
import PyPDF2

In [7]:
pdfs=glob.glob('test/*.pdf')

In [9]:
pdfs

['test\\test.pdf', 'test\\test1.pdf']

In [10]:
result='result.pdf'

In [11]:
merge=PyPDF2.PdfFileMerger()

In [14]:
for pdf in natsorted(pdfs):
    merge.append(open(pdf,'rb'))

PdfReadWarning: Xref table not zero-indexed. ID numbers for objects will be corrected. [pdf.py:1736]

In [16]:
merge.write(open(result,'wb'))

In [23]:
PyPDF2.PdfFileReader(open(result,'rb')).getPage(0).extractText()

'  PDF Test File  Congratulations, your computer is equipped with a PDF (Portable Document Format) reader!  You should be able to view any of the PDF documents and forms available on our site.  PDF forms are indicated by these icons: \n  or  \n.    Yukon Department of Education Box 2703 Whitehorse,Yukon Canada Y1A 2C6  Please visit our website at:  \nhttp://www.education.gov.yk.ca/\n   '

ghostscript  python -m pip install camelot-py[cv] tk wheel --user                
conda install -c conda-forge camelot-py

In [19]:
import camelot

In [20]:
tables=camelot.read_pdf('res.pdf')

In [23]:
for table in tables:
    print(table.df)

                       0             1                    2  \
0  Disability \nCategory  Participants  Ballots \nCompleted
1
2                  Blind             5                    1
3             Low Vision             5                    2
4              Dexterity             5                    4
5               Mobility             3                    3

                                    3                         4  \
0  Ballots \nIncomplete/ \nTerminated                   Results
1                                                      Accuracy
2                                   4                34.5%, n=1
3                                   3  98.3% n=2 \n(97.7%, n=3)
4                                   1                98.3%, n=4
5                                   0                95.4%, n=3

                                 5
0
1               Time to \ncomplete
2                    1199 sec, n=1
3  1716 sec, n=3 \n(1934 sec, n=2)
4                  1672.1 sec, n=4
5                    1416 sec, n=3

In [26]:
pd.DataFrame(tables[0].to_csv('1.csv'))
pd.DataFrame(tables[0].to_excel('1.xlsx',index=False))

Empty DataFrame
Columns: []
Index: []

In [27]:
pd.read_csv('1.csv')

,Disability \nCategory,Participants,Ballots \nCompleted,Ballots \nIncomplete/ \nTerminated,Results,Unnamed: 5
0,NaN,NaN,NaN,NaN,Accuracy,Time to \ncomplete
1,Blind,5.0,1.0,4.0,"34.5%, n=1","1199 sec, n=1"
2,Low Vision,5.0,2.0,3.0,"98.3% n=2 \n(97.7%, n=3)","1716 sec, n=3 \n(1934 sec, n=2)"
3,Dexterity,5.0,4.0,1.0,"98.3%, n=4","1672.1 sec, n=4"
4,Mobility,3.0,3.0,0.0,"95.4%, n=3","1416 sec, n=3"